{% extends "base.html" %}
{% block title %}
Dashboard
{% endblock %}
{% block page_content %}
<h1>Dashboard</h1>
{{order_count}}<br/>
{% for item in order_count.label %}}
{{item}}
{% endfor %}
<div class="chart">
    <canvas id="order_count"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type='text/javascript'>
        const rows = JSON.parse({{order_count|safe}});
        console.log(rows.label, rows.data)
        const config = {
            type: 'bar',
                data: {
                    labels: rows.label,
                    datasets: [{
                        label: 'Month',
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(255, 205, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            ],
                            borderColor: [
                            'rgb(255, 99, 132)',
                            'rgb(255, 159, 64)',
                            'rgb(255, 205, 86)',
                            'rgb(75, 192, 192)',
                            'rgb(54, 162, 235)'
                            ],
                        borderWidth: 1.8,
                        data: rows.data
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    legend: {
                        display: false
                    }
                }

        }

        const order_count = new Chart(
            document.getElementById('order_count').getContext('2d'),
            config
        );







    </script>
</div>
{% endblock %}