{% extends "base.html" %}
{% load static %}
{% block title %}
{{item.display_name}}
{% endblock %}
{% block page_content %}
<div class="row" style="max-width:900px; margin: 4rem auto; align-items: center;">
    {% with link='items/'|add:item.id|add:'.jpg' %}
    <div class="col-6">
        <img src="{% static link %}" alt={{item.display_name}} width="400"/>
    </div>
    {% endwith %}
    <div class="col-6">
        <p>
            {{item.master_category}}&nbsp;/&nbsp;
            {{item.sub_category}}&nbsp;/&nbsp;
            {{item.article_type}}
        </p>
        <p>
            {{item.year}}&ensp;{{item.season}},&ensp;{{item.usage}}
        </p>
        <h1>{{item.display_name}}</h1>
        <span class="colour-box my-2" style="background-color: {{item.base_colour.hex_code}}">
            {{item.base_colour}}
        </span>
        <div class="bold align-right" style="font-size: 1.6rem">
            £&nbsp;{{item.price}}
        </div>
        <form action="{% url 'basket_add' item.id %}" method="post">
            {{ basket_item_form }}
            {% csrf_token %}
            <input type="submit" name="add-basket" class="btn-primary btn-w my-10" value="Add to Basket">
        </form>
    </div>
</div>
{% endblock %}