body {
    font-family: 'Quicksand', sans-serif;
    background-color: #F5EBEB;
    margin: 0 auto;
    font-size: 16px;
    color: #867070;
}

h1 {
    font-size: 34px;
    line-height: 50px;
    margin: 2rem 0 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline 2px dotted #867070;
    text-underline-offset: 6px;
    color: inherit;
}

