.header {
    position: fixed;
    height: 64px;
    width: 100vw;
    padding: 5px 10px;
    background-color: red;
    z-index: 100;
}

.side-bar {
    flex: 0 0 250px;
}

.sidebar-item-wrapper {
    top: 64px;
    padding-bottom: 64px;
    width: 250px;
    background-color: orange;
    height: 100vh;
    position: fixed;
    overflow: auto;
    z-index: 1;
}

.contents {
    margin-top: 30px;
    padding: 2rem 3rem;
}

.btn-more {
    position: absolute;
    border: 1px gray solid;
    bottom: 15px;
    right: 10px;

}

.card-img-top {
    max-height: 350px;
    object-fit: cover;
}

.colour-box {
    display: inline-block;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}

.price {
    text-align: right;
    font-size: 28px;
    font-weight: bold;
}

.btn-w {
    display: inline-block;
    font-size: 24px;
    width: 100%;
    border: 1px solid slateblue;
    border-radius: 5px;
    background-color: white;
    color: slateblue;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-w:hover {
    border-color: white;
    background-color: slateblue;
    color: white;
    font-weight: 500;
}

.color-box {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid #aaa;
}

.absolute-tr {
    position: absolute;
    top: 5px;
    right: 5px;
}