.header {
    position: fixed;
    height: 64px;
    width: 100vw;
    padding: 5px 10px;
    background-color: #867070;
    box-shadow: 0px 2px 7px 0px #ccc;
    z-index: 100;
}

.side-bar {
    flex: 0 0 250px;
}

.sidebar-item-wrapper {
    top: 64px;
    padding-bottom: 64px;
    width: 250px;
    background-color: #E4D0D0;
    box-shadow: 0px 2px 7px 0px #ccc;
    height: 100vh;
    position: fixed;
    overflow: auto;
    z-index: 1;
}

.side-bar-category {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 700;
}

.side-bar-sub-category {
    display: block;
    margin-left: 10px;
    font-size: 1rem;
    line-height: 2rem;
}

.contents {
    margin-top: 30px;
    padding: 2rem 3rem;
    max-width: 1200px;
}

.accordion-collapse {
    background-color: #F5EBEB;
}

.accordion-button {
    background-color: #E4D0D0;
    color: #867070;
    font-weight: bold;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #D5B4B4;
    border-color: white;
}

.accordion-button:focus {
    border-color: white;
    box-shadow: none;
}

.btn-more {
    position: absolute;
    border: 1px gray solid;
    bottom: 15px;
    right: 10px;
}

.card-img-top {
    max-height: 320px;
    object-fit: cover;
}

.colour-box {
    display: inline-block;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;

    &:hover: {
    text-decoration: none !important;
    }
}

.price {
    font-size: 28px;
    font-weight: bold;
}

.btn-primary, .btn-secondary {
    color: white;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 5px 10px;
}

.btn-primary {
    background-color: #867070;
}

.btn-secondary {
    background-color: #D5B4B4;
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: white;
    color: #867070;
    border: 1px solid  #867070;
    transition: all 0.2s ease;
}

.btn-w {
    display: inline-block;
    font-size: 24px;
    width: 100%;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}


.color-box {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
}

.absolute-tr {
    position: absolute;
    top: 5px;
    right: 5px;
}

.bold {
    font-weight: bold
}

.fa-placeholder {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.quantity {
    width: 60px;
}

.total-price {
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: underline 2px dotted #867070;
    text-underline-offset: 6px;
}

.order-list-table {
    color: #666;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.1rem;
    overflow: hidden;
    border: 1px solid white;
}

.order-list-table tr {
    text-align: center;
}

.order-list-table th {
    padding: 10px;
    color: white;
    background-color: #D5B4B4;
    min-width: 200px;
}

.order-list-table td {
    padding: 10px;
    text-align: right;
}

.order-list-table tr:nth-child(odd){
  background-color: #f4f0f0;
}

.order-list-table tr:nth-child(even){
  background-color: white;
}

.chart-bar, .chart-pie {
    margin: 2rem 0;
    width: 700px;
    background-color: snow;
    border-radius: 5px;
}

.chart-bar {
    padding: 30px;
}

.chart-pie {
    padding: 30px;
}
