{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="{% static './base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './space.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './custom.css' %}">
    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!--Fontawesome-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>
    {% include 'header.html' %}
    <main class="d-flex">
        {% include 'side-bar.html' with menu=menu %}
        <div class="d-flex flex-column contents">
            {% block content %}
                {% block page_content %}
                {% endblock %}
            {% endblock %}
        </div>
    </main>
</body>
</html>