{% extends "base.html" %}
{% block title %}
Order History
{% endblock %}
{% block page_content %}
<h1>Order History</h1>
{% if orders|length > 0 %}
<table class="order-list-table">
    <tr>
        <th>Order No.</th>
        <th>Total Price</th>
        <th>Date</th>
        <th></th>
    </tr>
    {% for order in orders %}
    <tr>
        <td><b>{{ order.id }}</b></td>
        <td>£&nbsp;{{ order.total_price}}</td>
        <td>{{ order.created_date }}</td>
        <td>
            <a href="{% url 'order_detail' id=order.id %}" class="btn-primary mx-auto">Detail</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
Your order history is empty.
{% endif %}
{% endblock %}