{% extends "base.html" %}
{% block title %}
Order Detail: {{order.id}}
{% endblock %}
{% block page_content %}
<h1>Order Detail: {{order.id}}</h1>
<p>Order:
    This is order {{ order.id }} for
    {{user.first_name}} {{user.last_name}}. The order was placed on: {{ order.created_date }}
</p>
<div class="row">
    {% for item in items_with_image %}
    <div class="col-4 my-2">
        {% include 'item_card_order.html' with item=item.item link=item.link quantity=item.quantity %}
    </div>
    {% endfor %}
</div>
{% endblock %}