{% extends "base.html" %}
{% block title %}
All Items
{% endblock %}
{% block page_content %}
<h1>Payment for Your Order</h1>
<div style="min-width: 1000px">
    <div class="row">
        {% for item in basket %}
        <div class="col-4 my-2">
            {% include 'item_card_order.html' with item=item.item.item link=item.item.link quantity=item.quantity %}
        </div>
        {% endfor %}
    </div>
    <div class="mt-4 align-right" style="width: 400px">
        <h4>Amount:&nbsp;£&nbsp;{{ basket.get_total_price }}</h4>
        <form action="/payment/" method="post" class="mt-3">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Payment" class="btn-primary btn-w mt-4">
        </form>
    </div>
</div>
{% endblock %}