{% load static %}
<aside>
    <header class="header">
        <div class="d-flex">
            <a href="{% url 'item_list' %}">
                <img src="{% static 'logo.svg' %}" width="200" style="margin: 0.5rem"/>
            </a>
            <div style="margin-left: auto; display: flex;">
                <form class="mt-2 mb-3 mr-4" action="{% url 'item_list' %}" method="get" id="search">
                    <input type="search" id="keyword" name="keyword" class="form-control fa-placeholder"
                           placeholder="&#xF002;&emsp;Keyword + Enter ( Watch, Jeans.. )" aria-label="Search"
                           style="width: 340px">
                </form>
                <div class="mt-2 mb-3">
                    {% if user.is_authenticated %}
                    <div class="dropdown mr-4">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none"
                           id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://avatars.githubusercontent.com/u/72424558?v=4" alt="" width="40"
                                 height="40"
                                 class="rounded-circle mr-2">
                            <span class="px-2">{{user.username}}</span>
                            <i class="fa-solid fa-sort-down mx-2" style="font-size: 1.2rem; height: 1.7rem"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser">
                            {% if request.user.is_staff or request.user.is_superuser %}
                            <a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a>
                            <a class="dropdown-item" href="{% url 'order_list' %}">All Order History</a>i
                            {% else %}
                            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                            <a class="dropdown-item" href="{% url 'order_list' %}">Order History</a>
                            <a class="dropdown-item" href="{% url 'basket' %}">Basket</a>
                            {% endif %}
                            <hr class="dropdown-divider">
                            <a class="dropdown-item" href="{% url 'logout' %}">Sign Out</a>
                        </div>
                    </div>
                    {% else %}
                    <a href="{% url 'login' %}">
                        <button type="button" class="btn btn-outline-light me-2"><i class="fa-solid fa-plus mr-2"></i>Login
                        </button>
                    </a>
                    <a href="{% url 'signup' %}">
                        <button type="button" class="btn btn-primary">Sign-up</button>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
</aside>