{% load static %}
<a href="{% url 'item_detail' item_id=item.id %}">
    <div class="card mx-auto item-list-card">
        {% with link='items/'|add:item.id|add:'.jpg' %}
        <img src="{% static link %}" class="lazyload card-img-top pa-4"
             alt="item-img">
        {% endwith %}
        <div class="card-body">
            <div class="color-box absolute-tr" style="background-color: {{item.item.base_colour.hex_code}}"></div>
            <h5 class="card-title">{{item.display_name}}</h5>
            <p class="card-text">
                {{item.article_type}}
            </p>
            <div style="font-size: 1.2rem">
                £&nbsp;{{item.price}}
            </div>
            <a href="{% url 'item_detail' item_id=item.id %}" class="btn btn-more">More</a>
        </div>
    </div>
</a>